# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text
*.properties text
*.yml text
*.json text
*.sh text
*.config text
*.iml text
*.xml text
*.conf text
*.log text
*.env text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.tar binary
*.tar.gz binary
*.zip binary
*.7zip binary
